*{
	margin: 0px;
	padding: 0px;
}

 body {
	font-family: tohoma ;
}

#header {
	height: 40px;
	width: 100%;
	background: #f1f1f1;
}

#margin-header {
	width: 1024px;
	height: 35px;
	margin: 0px auto;
}

#margin-header ul {
	margin: 0px; 
	padding: 0px; 
}

div#margin-header ul li{
	float: left;
	list-style: none; 
}

div#margin-header ul li a{
	display:  block ;
	text-decoration: none;
	color: #000;
	line-height: 35px;
	padding: 0px 15px 0px 30px;
}

div#margin-header ul li a.phone {
	background: url('../images/tell.png') no-repeat 5px;
}

div#margin-header ul li a.hotline {
	background: url('../images/hotline.png') no-repeat 5px;
}

div#margin-header ul li a.address {
	background: url('../images/address.png') no-repeat 5px;
}

#Top {
	width: 1200px;
	margin: 20px auto;
	padding-left: 20px;
}

#logo, #search, #register {
	 float: left;
	 width: 300px;
	 border: 0px solid #ccc;
	 padding-left: 26px;
}
#Top div#logo img{
      margin-top: 0px;

}

#search {
	width: 468px;
	margin-top: 12px;
}

#search form input[type="text"]{
	border: 2px solid #08c;
	height: 36px;
	width: 360px;
	text-indent: 10px;
}

#search form input[type="submit"]{
	height: 40px;
	border: none;
	width: 100px;
	margin-left: -4px;
	background: #08c url('../images/srch.png') no-repeat center;
	cursor: pointer;
}

#register {
	width: 300px;
	margin-top: -15px;
	padding-left: 80px;
}

#register ul {
	margin: 0px;
	padding: 0px;
}

#register ul li{
	list-style: none;
	float: left;
	width: 80px;
	height: 50px;
	margin-left: 5px;
	position: relative;
}

#register ul li a{
	text-decoration: none;
	display: block;
	width: 48px;
	height: 48px;
	color: #000;
}

#register ul li a.res{
    background: url('../images/resgi.png') no-repeat center ;
    width: 65px;
    line-height: 110px;
    text-align: center;
    height: 55px;
}

#register ul li a.login{
    background: url('../images/lgin.png') no-repeat center ;
    width: 70px;
    line-height: 110px;
    text-align: center;
    height: 55px;
}

#register ul li a.cart{
    background: url('../images/cart1.png') no-repeat center ;
    width: 60px;
    line-height: 110px;
    text-align: center;
    height: 55px;
}

#register ul li span.total{
	background: red;
	color: #fff;
	border-radius: 50px;
	height: 20px;
	width: 35px;
	text-align: center;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
}

#banner {
	width: 1204px;
	clear: left;
	margin: 0px auto;
}

#banner div#menu-left {
	width: 280px;
	float: left;
	background: #f7f7f7;
	border-bottom: 1px solid #eaeaea;
}
#banner div#menu-left h3 {
	height: 40px;
	font-size: 15px;
	background: #08c;
	color: #FFF;
	text-align: center;
	line-height: 40px;
	background:  #08c url('../images/menu.png') no-repeat 230px;
}

#banner div#menu-left ul {
	margin: 0px;
	padding: 0px;
}

#banner div#menu-left ul li {
	list-style: none;
}

#banner div#menu-left ul li a {
	text-decoration: none;
	display: block;
	line-height: 42px;
	border-bottom: 1px solid #eaeaea;
	padding-left: 60px;
	color: #666666;
}
div#menu-left ul li a.sale {
	background: url('../images/sale.jpg') no-repeat;
}

div#menu-left ul li a.balo {
	background: url('../images/balo1.png') no-repeat;
}

div#menu-left ul li a.balo2 {
	background: url('../images/balo2.png') no-repeat;
}

div#menu-left ul li a.cap {
	background: url('../images/cap.png') no-repeat;
}

div#menu-left ul li a.tui {
	background: url('../images/tuix.png') no-repeat;
}

div#menu-left ul li a.vali {
	background: url('../images/vali.jpg') no-repeat;
}

div#menu-left ul li a.M {
	background: url('../images/M.jpg') no-repeat;
}

div#menu-left ul li a.nohoo {
	background: url('../images/nomo.jpg') no-repeat;
}

div#menu-left ul li a.simple {
	background: url('../images/s.jpg') no-repeat;
}

div#menu-left ul li a.lavar {
	background: url('../images/l.png') no-repeat;
}

div#menu-left ul li a.tui2 {
	background: url('../images/tuicn.png') no-repeat;
}

div#menu-left ul li a.tiger {
	background: url('../images/vali.jpg') no-repeat;
}

#banner div#banner-main {
	width: 700px;
	height: 500px;
	margin: 0px auto;
	display: inline-block;
	float: left;
}

#banner div#banner-main div.menu-top {
	width: 100%;
	height: 45px;
}
#banner div#banner-main div.menu-top ul {
	margin: 0px;
	padding: 0px;
}


#banner div#banner-main div.menu-top ul li {
	float: left;
	list-style: none;
}

#banner div#banner-main div.menu-top ul li a {
	display: block;
	padding: 0px 15px 0px 15px;
	text-decoration: none;
	color: #666666	;
	border-right: 1px solid #ccc;
	margin-top: 15px;
}

#banner div#banner-main div.slider {
	width: 100%;
	height: 100%;
}

.slider ul{
	margin: 0px;
	padding: 0px;
}

.slider ul li{
	list-style: none;
}

.slider ul li img{
	position: absolute;
	width: 700px;
	height: 500px;
}

span.prev, span.next {
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	background: #f6f6f6;
	top: 420px;
	color: #808080;
}

span.prev{
	left: 438px;
}

span.next {
     right: 382px;
}
span.prev p {
	margin-top: 5px;
	font-family:verdana;
	
}
span.next p{
	margin-top: 5px;
	margin-left: 20px;
	font-family:verdana;
}

#banner div#menu-right{
	width: 215px;
	float: left;
	height: 500px;
	margin-top: 45px;
}

#banner div#menu-right h3 {	
	line-height: 40px;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #08c;
	
}

#banner div#menu-right div.new-right {
	width: 100%;
	height: 230px;
	background: #fff;
	display: block;
	border-bottom: 1px solid #ccc;
}

#banner div#menu-right div.new-right img {
	width: 80%;
	display: block;
	margin: 0px auto;
}

#banner div#menu-right div.new-right p {
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

#banner div#menu-right div.new-right h4 {
	text-align: center;
	font-size: 20px;
	color: #08c;
	font-family: tahomas;
	margin-top: -5px;
}


#mota {
	width: 100%;
	height: 100px;
	background: #f6f6f6;
	clear: both;
	float: left;
}

#mota div#border-mota {
	margin: 0px auto;
	width: 85%;
	height: 100%;
}

#mota div#border-mota .mota1 {
	margin-top: 20px;
	margin-left: 15px;
	height: 30%;
	width: 24%;
	display: block;
	border-right: 2px solid #ccc;	
	background:  url('../images/ship.png') no-repeat 15px;
	background-size: 40px;
	float: left;
}
#mota div#border-mota .mota1 p{
	margin-top: -30px;

}

#mota div#border-mota .mota2 {
	margin-top: 20px;
	height: 50%;
	width: 24%;
	display: block;
	border-right: 2px solid #ccc;	
	background:  url('../images/chatlg.png') no-repeat 15px;
	background-size: 40px;
	float: left;
}
#mota div#border-mota .mota3 {
	margin-top: 20px;
	height: 40%;
	width: 24%;
	display: block;
	border-right: 2px solid #ccc;	
	background:  url('../images/24h.png') no-repeat 15px;
	background-size: 60px;
	float: left;
	margin-left: -10px;
}
#mota div#border-mota .mota4 {
	margin-top: 20px;
	height: 40%;
	width: 24%;
	display: block;
	background:  url('../images/o.png') no-repeat 15px;
	background-size: 60px;
	float: left;
	margin-left: -15px;
}
#mota div#border-mota div p{
	font-size: 13px;	
	padding-left: 70px;
	color: #808080;
}

#mota div#border-mota div a{
	text-decoration: none;
	color: gray ;
	line-height: 40px;
	font-size: 22px;
	margin-bottom: 10px;
	padding-left: 70px;
}
 
 #block1 {	clear: both;
	width: 100%;
	height: auto;
}

#category {
	width: 79%;
	height: 100px;
	margin: 0px auto;
	background: #fff;
	clear: both;
	position: relative;
}


#sale {
	width: 100%;
	height: 40px;
	background: #eaeaea;
	position: absolute;
	bottom: 0;
	left: 0;
	float: left;
}

#sale div#link {
	width: 170px;
	height: 100%;
	background: #f36;
	position: relative;
	float: left;

}
#sale div#link:after{
	content: '';
	border-style: solid;
	border-width: 20px 20px 20px 20px;
	height: 0;
	width: 0;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-color:#eaeaea #eaeaea #eaeaea  transparent;
}

#sale div#link-balo {
	width: 230px;
	height: 100%;
	background: #f36;
	position: relative;
	float: left;

}
#sale div#link-balo:after{
	content: '';
	border-style: solid;
	border-width: 20px 20px 20px 20px;
	height: 0;
	width: 0;
	position: absolute;
	right: 0px;
	bottom: 0px;
	border-color: #eaeaea #eaeaea #eaeaea  transparent;
}

#sale div#link-balo a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	line-height: 40px;
	padding-left: 10px;
	float: left;
	font-weight: bold ;

}
#sale div#link a {
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	line-height: 40px;
	padding-left: 10px;
	float: left;
	font-weight: bold ;
}


#sale-list {
	float: right;
	width: 80%;
	height: 100%;
	display: block;
	line-height: 40px;
}
#sale-list li {		
	display: inline-block;
	line-height: 20px;
	border-right: 2px solid #ccc;
}
#sale-list li.last-item {		
	display: inline-block;
	line-height: 20px;	
	border-right: 0px;
}
#sale-list li h5{
	font-size: 16px;
	font-weight: lighter;
	margin-left: 10px;
	margin-right: 15px;
}

#product {
	width: 1200px;
	height: auto;
	margin: 0px auto;
}

#product-item {
	width: 228px;
	height: 290px;
	float: left;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
}

#product-item img{
	width: 228px;
	height: 230px;
}

#product-item a{
	text-decoration: none;
	color: #000;
	padding-top: 55px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 30px;
}


#product-item p{
	padding-left: 15px;
	line-height: 25px;
	color: #08c;
}


#product-with-banner {
	width: 1200px;
	height: auto;
	margin: 0px auto;
	background: ;
}

#category-banner {
	width: 238px;
	height: 604px;
	float: left;
	margin-right: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#category-banner img{
	width: 238px;
	height: 604px;
}


#trademark {	
	height: 130px;
	width: 1200px;
	clear: both;
	margin: 0px auto;
	position: relative;
}
#border-trademark {
	height: 100px;
	width: 100%;
	background: gray;
	position: absolute;
	bottom: 0;
}

#trademark1 {
	width: 600px;
	height: 100px;
	float: right;
}

#trademark1 {
	width: 600px;
	height: 100px;
	float: left;
}

#border-trademark a img{	
	width: 600px;
	height: 100px;
}

#news {
	width: 1200px;
	height: 370px;
	clear: both;
	margin:  0px auto;
}
#news-title{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ccc;
	position: relative;
}
#news-title a{
	display: block;
	position: absolute;
	bottom: 0px;
	font-size: 18px;
	text-decoration: none;
	color: #000;
	padding-bottom: 15px;
	border-bottom: 2px solid #08c;
}
#next-post {
	position: absolute;
	width: 30px;
	height: 30px;
	background: grey;
	right: 40px;	
	top: 20px;
}
#prev-post {
	position: absolute;
	width: 30px;
	height: 30px;
	background: grey;
	right: 0;
	top: 20px;
}

#post-list {
	width: 100%;
	height: 300px;
	position: relative;
}

#post-list ul {
	position: absolute;
	bottom: 0;
}

#post-list ul li {
	display: block;
	list-style-type: none;
	width: 298px;
	height: 100%;
	border: 1px solid #ccc;
	float: left;
}
#post{	
}
#info{
	height: 120px;
	width: 100%;
	position: relative;
}
#post img{
	width: 298px;
	height: 150px;
}

#post div a.title-post {
	text-decoration: none;
	display: inline-block;
	line-height: 30px;
	height: 30px;
	padding:10px;
	font-size: 18px;
	color: #000;
}

#post div p {
	display: inline-block;
	line-height: 20px;
	padding:10px;
	font-size: 14px;
	color: #000;
}

#post div a.more {
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: #08c;
	position: absolute;
	right: 20px;
	bottom: 10px;
}

#new {
	width: 1200px;
	height: auto;
	margin: 0px auto;
	background: ;
	line-height: 22px;
}

#new-item {
	width: 238px;
	height: 360px;
	float: left;
	border-left: 1px solid #ccc ;
	margin-right: 60px;
	margin-top: 20px;
	margin-bottom: 10px;
 
}
#new-item img {
	 width: 298px;
	 height: 195px;
}
#new-item a{
	text-decoration: none;
	color: #000;
	padding-top: 55px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 30px;

}
span.date1{

	display: block;
	width: 32px;
	height: 32px;
	background: #f6f6f6;
	top: 420px;
	color: #808080;
	margin-top: 55px;
}

span.date1{
	background: url('../images/date2.png') no-repeat;
}
span.date1 p{
	margin-left: 20px;
}
span.comment1{
	display: block;
	width: 115px;
	height: 32px;
	background: #f6f6f6;
	top: 420px;
	color: #808080;
	margin-left: 170px;
	margin-top: -30px;
}
span.comment1{
	background: url('../images/comen2.png') no-repeat;
}
span.comment1 p{
	margin-left: 26px;
	line-height: 16px;
}
span.date{

	display: block;
	width: 32px;
	height: 32px;
	background: #f6f6f6;
	top: 420px;
	color: #808080;
	margin-top: 25px;
}

span.date{
	background: url('../images/date2.png') no-repeat;
}
span.date p{
	margin-left: 20px;
}
span.comment{
	display: block;
	width: 115px;
	height: 32px;
	background: #f6f6f6;
	top: 420px;
	color: #808080;
	margin-left: 170px;
	margin-top: -30px;
}
span.comment{
	background: url('../images/comen2.png') no-repeat;
}
span.comment p{
	margin-left: 26px;
	line-height: 16px;
}
span.date4{

	display: block;
	width: 32px;
	height: 32px;
	background: #f6f6f6;
	top: 420px;
	color: #808080;
	margin-top: -2px;
}

span.date4{
	background: url('../images/date2.png') no-repeat;
}
span.date4 p{
	margin-left: 20px;
}
span.comment4{
	display: block;
	width: 115px;
	height: 32px;
	background: #f6f6f6;
	top: 420px;
	color: #808080;
	margin-left: 170px;
	margin-top: -30px;
}
span.comment4{
	background: url('../images/comen2.png') no-repeat;
}
span.comment4 p{
	margin-left: 26px;
	line-height: 16px;
}
span.readmore{
    margin-left: 265px;
	display: block;
	width: 90px;
	height: 32px;
	background: #f6f6f6;
	top: 420px;
	color: #808080;
	margin-top: 25px;
}
span.readmore{
	background: url('../images/muiten.png') no-repeat ;
  
}
span.readmore p{
	margin-left: -66px;
	line-height: 14px;
	margin-top:-18px;
	color: #09c;
}
div#new1{
	width: 130px;
	height: 100%;
}

div#new1 a{
	text-decoration: none;
	font-size: 20px;
	color: #555555;
	border-bottom: 1px solid #08c;
	line-height: 2;
}